<!DOCTYPE html>
<html lang="en">
<head>
  {% block head %}
    {% block meta %}
      <meta charset="utf-8">
      <meta name="description" content="Gleam a University Student Big data Contest Platform">
      <meta name="author" content="Candle">
      <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% endblock meta %}
    {% block stylesheet %}
      <link href="https://cdn.bootcss.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet">
      <link href="https://cdn.bootcss.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
      <link href="/static/pnotify/pnotify.custom.min.css" rel="stylesheet">
      <link href="/static/css/animations.css" rel="stylesheet">
      <link href="/static/css/style.css" rel="stylesheet">
      <link href="/static/css/custom.css" rel="stylesheet">
      <link href="/static/css/addition.css" rel="stylesheet">
    {% endblock stylesheet %}
    <title>Gleam{% block title %}{% endblock title %}</title>
  {% endblock head %}
</head>

{% block body %}
  {% block navbar %}
    {% include "base/index_navbar.html" %}
  {% endblock navbar %}

  {% block content %}
  {% endblock %}

  {% block footer %}
    {% include "base/contestant_footer.html" %}
  {% endblock footer %}
  {% block javascripts %}
    <script src="https://cdn.bootcss.com/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://cdn.bootcss.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <script src="https://cdn.bootcss.com/modernizr/2.8.3/modernizr.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery.isotope/2.0.0/isotope.pkgd.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-backstretch/2.0.4/jquery.backstretch.min.js"></script>
    <script src="https://cdn.bootcss.com/jquery-confirm/3.3.0/jquery-confirm.min.js"></script>
    <script type="text/javascript" src="/static/pnotify/pnotify.custom.min.js"></script>
    <script type="text/javascript" src="/static/js/jquery.appear.js"></script>
    <script type="text/javascript" src="/static/js/template.js"></script>
    <script type="text/javascript" src="/static/js/custom.js"></script>
  {% endblock javascripts %}
{% endblock body %}
</body>
</html>