<header class="header fixed clearfix navbar navbar-fixed-top">
  <div class="container">
    <div class="row">
      <div class="col-md-4">

        <!-- header-left start -->
        <!-- ================ -->
        <div class="header-left clearfix">

          <!-- logo -->
          <div class="logo smooth-scroll">
            <a href="#home"><img id="logo" src="/static/images/gleam-logo.png" style="width:60px;height:60px;"></a>
          </div>

          <!-- name-and-slogan -->
          <div class="site-name-and-slogan smooth-scroll">
            <div class="site-name"><a href="#home">Gleam</a></div>
            <div class="site-slogan">A University Student Big data Contest Platform</div>
          </div>

        </div>
        <!-- header-left end -->

      </div>
      <div class="col-md-8">

        <!-- header-right start -->
        <!-- ================ -->
        <div class="header-right clearfix">

          <!-- main-navigation start -->
          <!-- ================ -->
          <div class="main-navigation animated">

            <!-- navbar start -->
            <!-- ================ -->
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <!-- Collect the nav links, forms, and other content for toggling -->
                <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <!--<li class="active"><a href="#home">Home</a></li>-->
                    <li class="active"><a href="#home">主页</a></li>
                    <li><a href="#about">关于</a></li>
                    <li><a href="#hot">热门比赛</a></li>
                    <li><a href="#features">平台特色</a></li>
                    <li><a href="#contact">联系我们</a></li>
                  </ul>
                </div>

              </div>
            </nav>
            <!-- navbar end -->

          </div>
          <!-- main-navigation end -->

        </div>
        <!-- header-right end -->

      </div>
    </div>
  </div>
</header>