{% extends "organizer/organizer_base.html" %}

{% block title %} 资料修改 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2> 密码修改 </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left" role="form" data-toggle="validator" action="#" method="post" id="pwd-form" enctype="multipart/form-data">
              {% csrf_token %}

              {% if form.errors.old_password %}
                <div class="alert alert-danger">{{ form.errors.old_password.0 }}</div>
              {% endif %}

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="old_password"> 原密码 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="password" maxlength="20" id="old_password" name="old_password" required="required" class="form-control col-md-7 col-xs-12" v>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new_password"> 新密码 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="password" data-minlength="6" maxlength="20" id="new_password" name="new_password" required="required" class="form-control col-md-7 col-xs-12" data-error="密码长度至少为6字符。" value="{% if form.new_password.value %}{{ form.new_password.value }}{% endif %}">
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="form-group">
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="new_pwd_again"> 确认密码 <span class="required">*</span>
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="password" maxlength="20" id="new_pwd_again" name="new_pwd_again" required="required" class="form-control col-md-7 col-xs-12" data-match="#new_password" data-match-error="两次输入的密码不一致。" value="{% if form.new_password.value %}{{ form.new_password.value }}{% endif %}">
                  <div class="help-block with-errors"></div>
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group" class="pull-right">
                <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-5">
                  <button type="submit" class="btn btn-success">提交</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>
{% endblock javascripts %}
