{% extends "organizer/organizer_base.html" %}

{% block title %} 资料修改 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/vendors/bootstrap-datetimepicker/css/bootstrap-datetimepicker.min.css">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}

{% block content %}
  <div class="col-md-10 col-sm-10 col-xs-10 col-md-offset-2">
    <div class="clearfix"></div>
    <div class="row">
      <div class="col-md-12 col-xs-12">
        <div class="x_panel">
          <div class="x_title">
            <h2> 机构信息 </h2>
            <div class="clearfix"></div>
          </div>
          <div class="x_content">
            <br />
            <form class="form-horizontal form-label-left" role="form" data-toggle="validator" action="{% url 'profile-edit-organizer' %}" method="post" id="profile-form" enctype="multipart/form-data">
              {% csrf_token %}
              <div class="form-group">

                {{ form.organization.errors }}
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="organization"> 机构名称 </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" id="organization" maxlength="128" name="organization" class="form-control col-md-7 col-xs-12" value="{% if user.organizer_profile.organization %}{{user.organizer_profile.organization}}{% endif %}">
                </div>
              </div>

              <div class="form-group">
                {{ form.biography.errors }}
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="biography"> 简介(不超过140字)
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">

                  <input maxlength="280" type="text" id="biography" name="biography" class="form-control col-md-7 col-xs-12" value="{% if user.organizer_profile.biography %}{{user.organizer_profile.biography}}{% endif %}">

                </div>
              </div>

              <div class="form-group">
                {{ form.location.errors }}
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="location"> 所在地
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" maxlength="140" id="location" name="location" class="form-control col-md-7 col-xs-12" value="{% if user.organizer_profile.location %}{{user.organizer_profile.location}}{% endif %}">
                </div>
              </div>

              <div class="form-group">
                {{ form.field.errors }}
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="field"> 行业
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="text" maxlength="140" id="field" name="field" class="form-control col-md-7 col-xs-12" value="{% if user.organizer_profile.field %}{{user.organizer_profile.field}}{% endif %}">
                </div>
              </div>

              <div class="form-group">
                {{ form.website.errors }}
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="website"> 主页(http或https开头)
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="url" id="website" name="website" class="form-control col-md-7 col-xs-12" value="{% if user.organizer_profile.website %}{{user.organizer_profile.website}}{% endif %}">
                </div>
              </div>

              <div class="form-group">
                {{ form.description.errors }}
                <label class="control-label col-md-3 col-sm-3 col-xs-12" for="description"> 详细介绍
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <textarea class="resizable_textarea form-control" name="description" id="description">{% if user.organizer_profile.description %}{{user.organizer_profile.description}}{% endif %}</textarea>
                </div>
              </div>

              <div class="form-group">
                {{ form.avatar.errors }}
                <label class="control-label col-md-3" for="avatar"> 头像
                </label>
                <div class="col-md-6 col-sm-6 col-xs-12">
                  <input type="file" accept=".jpg,.png" name="avatar" id="avatar">
                </div>
              </div>

              <div class="ln_solid"></div>
              <div class="form-group" class="pull-right">
                <div class="col-md-6 col-sm-6 col-xs-6 col-md-offset-5">
                  <button type="submit" class="btn btn-success">提交</button>
                </div>
              </div>
            </form>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script type="text/javascript" src="/static/vendors/bootstrap-datetimepicker/js/bootstrap-datetimepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

  <script type="text/javascript">

    $(document).ready(function() {
      $("#avatar").fileinput({
          showUpload: false,
          maxFileSize: 1024,
          {% if user.organizer_profile.avatar.image %}
          initialPreview: ['{{ user.organizer_profile.avatar.image.url }}'],
          initialPreviewAsData: true,
          initialPreviewFileType: 'image',
          {% endif %}
      });
    })

  </script>
{% endblock javascripts %}
