.carousel-inner{
  position:relative;
  width:100%;
  height:350px;
}
.button-group{
  text-align: center;
}
#as-user, #as-sponsor{
  margin:0 auto;
}
.table-added{
  background-color:#ffffff;
}
.dropdown:hover{
  background-color:rgba(0,0,0,0);
}
.dropdown-toggle:active {
  outline: none;
}
.transparent {
  filter: alpha(opacity=50);
  -moz-opacity: 0.5;
  opacity: 0.5;
}