<header class="header fixed clearfix navbar navbar-fixed-top">
  <div class="container" id="navbar">
    <div class="row">
      <div class="col-md-4">
        <div class="header-left clearfix">
          <div class="logo smooth-scroll">
            <a href="#home"><img id="logo" src="/static/images/gleam-logo.png" style="width:60px;height:60px;"></a>
          </div>
          <div class="site-name-and-slogan smooth-scroll">
            <div class="site-name"><a href="#home">Gleam</a></div>
            <div class="site-slogan">专为大学生设计的大数据竞赛平台</div>
          </div>
        </div>
      </div>
      <div class="col-md-8">
        <div class="header-right clearfix">
          <div class="main-navigation animated">
            <nav class="navbar navbar-default" role="navigation">
              <div class="container-fluid">
                <div class="navbar-header">
                  <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-collapse-1">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                  </button>
                </div>
                <div class="collapse navbar-collapse scrollspy smooth-scroll" id="navbar-collapse-1">
                  <ul class="nav navbar-nav navbar-right">
                    <li class="active"><a href="#home">主页</a></li>
                    <li><a href="#about">关于</a></li>
                    <li><a href="#hot">热门比赛</a></li>
                    <li><a href="#features">平台特色</a></li>
                    <li><a href="#contact">联系我们</a></li>
                  </ul>
                </div>
              </div>
            </nav>
          </div>
        </div>
      </div>
    </div>
  </div>
</header>