{% extends "base/base_index.html" %}

{% block title %} {% endblock title %}

{% if messages %}
  <ul class="messages">
    {% for message in messages %}
      <li>{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
  </ul>
{% endif %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="/static/assets/less/unlock.css">
  <style type="text/css" media="screen">
    .bar {
      margin: auto;
      height: 40px;
      width: 320px;
    }
  </style>
{% endblock %}

{% block content %}
  <div id="home" class="banner">
    <div class="banner-image"></div>
    <div class="banner-caption">
      <div class="container">
        <div class="row">
          <div class="col-md-8 col-md-offset-2 object-non-visible" data-animation-effect="fadeIn">
            <h1 class="text-center">We are <span>Gleam</span></h1>
            <p class="lead text-center">大学生大数据竞赛报名平台</p>
            <div class="button-group text-center">
              <button id="as-user" data-toggle="modal" data-target="#user-modal" class="btn btn-primary">
                参加比赛
              </button>
              <button id="as-sponsor" data-toggle="modal" data-target="#sponsor-modal"
                      class="btn btn-success">举办比赛
              </button>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-md" tabindex="-1" id="user-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content ">
        <div class="modal-header" style="background-color: white;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true" style="color:black;">×</span>
          </button>
          <h4 class="modal-title"><span>登录</span></h4>
        </div>
        <div class="modal-body">
          <h1 style="text-align: center;">Gleam</h1>
          <div>
            <form id="login-contestant-form" class="form-horizontal" role="form" action="{% url 'login-contestant' %}" method="POST">
              {% csrf_token %}
              <div class="form-group">
                <label for="contestant-login-email" class="col-sm-3 control-label">邮箱</label>
                <div class="col-sm-7">
                  <input type="text" class="form-control" id="contestant-login-email" name="email"
                         placeholder="example@example.com">
                </div>
                <div class="col-sm-2"></div>
              </div>
              <div class="form-group">
                <label for="contestant-login-password" class="col-sm-3 control-label">密码</label>
                <div class="col-sm-7">
                  <input type="password" class="form-control" id="contestant-login-password" name="password"
                         placeholder="password">
                </div>
              </div>
              <div class="form-group">
                <div class="col-md-7 col-md-offset-3 col-sm-7 col-sm-offset-3 col-xs-12" style="text-align: center;">
                  <div class="bar-slide bar"></div>
                </div>
              </div>
              <div class="col-md-3 col-md-offset-8 col-sm-3 col-sm-offset-8 col-xs-6 col-xs-offset-5">
                <a href="{% url 'signup-contestant' %}" class="pull-right">还没有账号？</a>
              </div>
              <br/>
            </form>
          </div>
        </div>
        <div class="modal-footer" style="text-align: center;">
          <button type="submit" id="contestant-form" class="btn btn-disabled" disabled="disabled" >登录</button>
        </div>
      </div>
    </div>
  </div>
  <div class="modal fade bs-example-modal-md" tabindex="-1" id="sponsor-modal" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-md">
      <div class="modal-content">
        <div class="modal-header" style="background-color: white;">
          <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                  aria-hidden="true">×</span>
          </button>
          <h4 class="modal-title" id="2" style="color:black;">举办比赛</h4>
        </div>
        <div class="modal-body">
          <div class="" role="tabpanel" data-example-id="togglable-tabs">
            <ul id="myTab2" class="nav nav-tabs bar_tabs" role="tablist">
              <li role="presentation" class="active"><a id="signin-tab2" role="tab"
                                                        data-toggle="tab" aria-expanded="true">登录</a>
              </li>
              <li role="presentation" class=""><a  role="tab"
                                                   id="register-tab2" data-toggle="tab"
                                                   aria-expanded="false">注册</a>
              </li>
            </ul>
            <div id="myTabContent2" class="tab-content">
              <div role="tabpanel" class="tab-pane fade in" id="sponsor-sign-in"
                   aria-labelledby="signin-tab">
                <br>
                <div>
                  <form id="login-organizer-form" class="form-horizontal" role="form" action="{% url 'login-organizer' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="organizer-login-email" class="col-sm-3 control-label">邮箱</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="organizer-login-email" name="email"
                               placeholder="example@example.com">
                      </div>
                      <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                      <label for="organizer-login-password" class="col-sm-3 control-label">密码</label>
                      <div class="col-sm-7">
                        <input type="password" class="form-control" id="organizer-login-password" name="password"
                               placeholder="password">
                      </div>
                    </div>
                  </form>
                </div>
              </div>
              <div role="tabpanel" class="tab-pane fade in" id="sponsor-register"
                   aria-labelledby="register-tab">
                <br>
                <div>
                  <form id="register-organizer-form" class="form-horizontal" role="form" action="{% url 'signup-organizer' %}" method="POST">
                    {% csrf_token %}
                    <div class="form-group">
                      <label for="contestant-login-email" class="col-sm-3 control-label">邮箱</label>
                      <div class="col-sm-7">
                        <input type="text" class="form-control" id="organizer-register-email" name="email"
                               placeholder="example@example.com">
                      </div>
                      <div class="col-sm-2"></div>
                    </div>
                    <div class="form-group">
                      <label for="contestant-login-password" class="col-sm-3 control-label">密码</label>
                      <div class="col-sm-7">
                        <input type="password" class="form-control" id="organizer-register-password" name="password"
                               placeholder="password">
                      </div>
                      <div class="col-sm-2"></div>
                    </div>
                  </form>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
          <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
          <button type="submit" id="organizer-form" class="btn btn-default" >登录</button>
        </div>

      </div>
    </div>
  </div>
  <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <h1 id="about" class="title text-center">About <span>Gleam</span></h1>
          <p class="lead text-center">什么是大学生大数据竞赛报名平台？</p>
          <div class="space"></div>
          <div class="row">
            <div class="col-md-6">
              <img src="/static/images/bg-image-1.jpg" alt="">
              <div class="space"></div>
            </div>
            <div class="col-md-6">
              <p><strong>Big data</strong> is data sets that are so voluminous and complex that traditional data
                processing application software are inadequate to deal with them. Big data challenges include capturing
                data, data storage, data analysis, search, sharing, transfer, visualization, querying,
                updating and information privacy. There are three dimensions to big data known as Volume,
                Variety and Velocity.</p>
              <footer class="pull-right">——Wikipedia</footer>
              <br>
              <ul class="list-unstyled">
                <li><i class="fa fa-caret-right pr-10 text-colored"></i> 竞赛平台 </li>
                <li><i class="fa fa-caret-right pr-10 text-colored"></i> 大数据竞赛平台 </li>
                <li><i class="fa fa-caret-right pr-10 text-colored"></i> 大数据竞赛报名平台 </li>
                <li><i class="fa fa-caret-right pr-10 text-colored"></i> 失败的大数据竞赛报名平台 </li>
                <li><i class="fa fa-caret-right pr-10 text-colored"></i> 跑路 </li>
              </ul>
            </div>
          </div>
          <div class="space"></div>
          <h2>Lately</h2>
          <div class="row">
            <div class="col-md-6">
              <p>The term "big data" tends to refer to the use of predictive analytics, user behavior analytics,
                or certain other advanced data analytics methods that extract value from data, and seldom to a particular
                size of data set. "There is little doubt that the quantities of data now available are indeed large,
                but that’s not the most relevant characteristic of this new data ecosystem."Analysis of data sets can
                find new correlations to "spot business trends, prevent diseases, combat crime and so on."Scientists,
                business executives, practitioners of medicine, advertising and governments alike regularly meet
                difficulties with large data-sets in areas including Internet search, fintech, urban informatics, and
                business informatics. Scientists encounter limitations in e-Science work, including meteorology,
                genomics, connectomics, complex physics simulations, biology and environmental research.</p>
              <footer class="pull-right">——Wikipedia</footer>
            </div>
            <div class="col-md-6">
              <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingOne">
                    <h4 class="panel-title">
                      <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne"
                         aria-expanded="true" aria-controls="collapseOne">
                        产品经理说了算
                      </a>
                    </h4>
                  </div>
                  <div id="collapseOne" class="panel-collapse collapse in" role="tabpanel"
                       aria-labelledby="headingOne">
                    <div class="panel-body">
                      老实人，孤立他
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingTwo">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                        前端开发
                      </a>
                    </h4>
                  </div>
                  <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingTwo">
                    <div class="panel-body">
                      怎么好看怎么来，让后端去适配
                    </div>
                  </div>
                </div>
                <div class="panel panel-default">
                  <div class="panel-heading" role="tab" id="headingThree">
                    <h4 class="panel-title">
                      <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                         href="#collapseThree" aria-expanded="false"
                         aria-controls="collapseThree">
                        后端开发
                      </a>
                    </h4>
                  </div>
                  <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                       aria-labelledby="headingThree">
                    <div class="panel-body">
                      怎么方便怎么来，大不了重构
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="default-bg space blue">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center">Let's Work Together!</h1>
        </div>
      </div>
    </div>
  </div>
  <div class="section">
    <div class="container">
      <h1 class="text-center title" id="hot">热门赛事</h1>
      <div class="separator"></div>
      <p class="lead text-center">以下是发布在Gleam上的一些热门赛事，点击以查看详情</p>
      <br>
      <div class="row object-non-visible" data-animation-effect="fadeIn">
        <div class="col-md-12">
          <div class="filters text-center">
            <ul class="nav nav-pills">
              <li class="active"><a href="#" data-filter="*">全部</a></li>
              <li><a href="#" data-filter=".web-design">逼格高的</a></li>
              <li><a href="#" data-filter=".app-development">奖金丰富的</a></li>
              <li><a href="#" data-filter=".site-building">从入门到放弃</a></li>
            </ul>
          </div>
          <div class="isotope-container row grid-space-20">
            <div class="col-sm-6 col-md-3 isotope-item web-design">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-1.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-1">
                    <i class="fa fa-search-plus"></i>
                    <span>Web Design</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-1" tabindex="-1" role="dialog"
                   aria-labelledby="project-1-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-1-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-1.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item app-development">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-2.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-2">
                    <i class="fa fa-search-plus"></i>
                    <span>App Development</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-2" tabindex="-1" role="dialog"
                   aria-labelledby="project-2-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-2-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-2.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item web-design">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-3.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-3">
                    <i class="fa fa-search-plus"></i>
                    <span>Web Design</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-3" tabindex="-1" role="dialog"
                   aria-labelledby="project-3-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-3-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-3.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item site-building">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-4.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-4">
                    <i class="fa fa-search-plus"></i>
                    <span>Site Building</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-4">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-4" tabindex="-1" role="dialog"
                   aria-labelledby="project-4-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-4-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-4.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item app-development">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-5.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-5">
                    <i class="fa fa-search-plus"></i>
                    <span>App Development</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-5">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-5" tabindex="-1" role="dialog"
                   aria-labelledby="project-5-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-5-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-5.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item web-design">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-6.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-6">
                    <i class="fa fa-search-plus"></i>
                    <span>Web Design</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-6">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-6" tabindex="-1" role="dialog"
                   aria-labelledby="project-6-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-6-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-6.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item site-building">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-7.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-7">
                    <i class="fa fa-search-plus"></i>
                    <span>Site Building</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-7">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-7" tabindex="-1" role="dialog"
                   aria-labelledby="project-7-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-7-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-7.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item web-design">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-8.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-8">
                    <i class="fa fa-search-plus"></i>
                    <span>Web Design</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-8">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-8" tabindex="-1" role="dialog"
                   aria-labelledby="project-8-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-8-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-8.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item web-design">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-9.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-9">
                    <i class="fa fa-search-plus"></i>
                    <span>Web Design</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-9">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-9" tabindex="-1" role="dialog"
                   aria-labelledby="project-9-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-9-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-9.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item site-building">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-10.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-10">
                    <i class="fa fa-search-plus"></i>
                    <span>Site Building</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-10">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-10" tabindex="-1" role="dialog"
                   aria-labelledby="project-10-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-10-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-10.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item web-design">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-11.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-11">
                    <i class="fa fa-search-plus"></i>
                    <span>Web Design</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-11">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-11" tabindex="-1" role="dialog"
                   aria-labelledby="project-11-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-11-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-11.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-sm-6 col-md-3 isotope-item app-development">
              <div class="image-box">
                <div class="overlay-container">
                  <img src="/static/images/portfolio-12.jpg" alt="">
                  <a class="overlay" data-toggle="modal" data-target="#project-12">
                    <i class="fa fa-search-plus"></i>
                    <span>App Development</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-12">Project
                  Title</a>
              </div>
              <div class="modal fade" id="project-12" tabindex="-1" role="dialog"
                   aria-labelledby="project-12-label" aria-hidden="true">
                <div class="modal-dialog modal-lg">
                  <div class="modal-content">
                    <div class="modal-header">
                      <button type="button" class="close" data-dismiss="modal"><span
                              aria-hidden="true">&times;</span><span class="sr-only">Close</span>
                      </button>
                      <h4 class="modal-title" id="project-12-label">Project Title</h4>
                    </div>
                    <div class="modal-body">
                      <h3>Project Description</h3>
                      <div class="row">
                        <div class="col-md-6">
                          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque
                            sed, quidem quis praesentium, ut unde. Quae sed, incidunt
                            laudantium nesciunt, optio corporis quod earum pariatur omnis
                            illo saepe numquam suscipit, nemo placeat dignissimos eius
                            mollitia et quas officia doloremque ipsum labore rem deserunt
                            vero! Magnam totam delectus accusantium voluptas et, tempora
                            quos atque, fugiat, obcaecati voluptatibus commodi illo
                            voluptates dolore nemo quo soluta quis.</p>
                          <p>Molestiae sed enim laboriosam atque delectus voluptates rerum
                            nostrum sapiente obcaecati molestias quasi optio exercitationem,
                            voluptate quis consequatur libero incidunt, in, quod. Lorem
                            ipsum dolor sit amet, consectetur adipisicing elit. Eos nobis
                            officiis, autem earum tenetur quidem. Quae non dicta earum.
                            Ipsum autem eaque cum dolor placeat corporis quisquam dolorum at
                            nesciunt.</p>
                        </div>
                        <div class="col-md-6">
                          <img src="/static/images/portfolio-12.jpg" alt="">
                        </div>
                      </div>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">
                        Close
                      </button>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="section translucent-bg bg-image-2 pb-clear">
    <div class="container object-non-visible" data-animation-effect="fadeIn">
      <h1 id="features" class="title text-center">平台特色</h1>
      <div class="space"></div>
      <div class="row">
        <div class="col-md-4">
          <div class="media testimonial">
            <div class="media-left">
              <img src="/static/images/testimonial-1.png" alt="">
            </div>
            <div class="media-body">
              <h3 class="media-heading">兼容个人和团队</h3>
              <blockquote>
                <p>你可以以个人的名义参加比赛，或者与志同道合的朋友组队参加</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media testimonial">
            <div class="media-left">
              <img src="/static/images/testimonial-2.png" alt="">
            </div>
            <div class="media-body">
              <h3 class="media-heading">科学性与公正性</h3>
              <blockquote>
                <p>使用多种科学的评测方法保证成绩的公平公正</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media testimonial">
            <div class="media-left">
              <img src="/static/images/testimonial-3.png" alt="">
            </div>
            <div class="media-body">
              <h3 class="media-heading">方便快捷的浏览体验</h3>
              <blockquote>
                <p>超棒的前端团队给你不一样的报名体验</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="media testimonial">
            <div class="media-left">
              <img src="/static/images/testimonial-2.png" alt="">
            </div>
            <div class="media-body">
              <h3 class="media-heading">赛事提醒从不错过</h3>
              <blockquote>
                <p>再也不用担心错过DDL</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media testimonial">
            <div class="media-left">
              <img src="/static/images/testimonial-3.png" alt="">
            </div>
            <div class="media-body">
              <h3 class="media-heading">精彩赛事一网打尽</h3>
              <blockquote>
                <p>网罗大大小小大数据竞赛，总有一项你可以报名</p>
              </blockquote>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="media testimonial">
            <div class="media-left">
              <img src="/static/images/testimonial-1.png" alt="">
            </div>
            <div class="media-body">
              <h3 class="media-heading">Fancy and Useless</h3>
              <blockquote>
                <p>Emmmm...</p>
              </blockquote>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="translucent-bg blue">
      <div class="container">
        <div class="list-horizontal">
          <div class="row">
            <div class="col-xs-2">
              <div class="list-horizontal-item">
                <img src="/static/images/client-1.png" alt="client">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="list-horizontal-item">
                <img src="/static/images/client-2.png" alt="client">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="list-horizontal-item">
                <img src="/static/images/client-3.png" alt="client">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="list-horizontal-item">
                <img src="/static/images/client-4.png" alt="client">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="list-horizontal-item">
                <img src="/static/images/client-5.png" alt="client">
              </div>
            </div>
            <div class="col-xs-2">
              <div class="list-horizontal-item">
                <img src="/static/images/client-6.png" alt="client">
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="default-bg space">
    <div class="container">
      <div class="row">
        <div class="col-md-8 col-md-offset-2">
          <h1 class="text-center">10000+ Data Competitions!</h1>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script src='/static/assets/js/unlock.js'></script>
  <script>
    $(function () {
      $(".banner-image").backstretch('/static/images/banner.jpg');
      $("#sponsor-sign-in").addClass("active");
      if(navigator.userAgent.match(/(iPhone|iPod|Android|ios)/i)){
        $('.bar-slide').hide();
        $("#contestant-form").attr("class","btn btn-primary");
        $("#contestant-form").removeAttr("disabled");
      }
    });
    $("#signin-tab2").click(function(){
      $("#organizer-form").text("登录");
      $("#sponsor-sign-in").addClass("active");
      $("#sponsor-register").removeClass("active");
    });
    $("#register-tab2").click(function(){
      $("#organizer-form").text("注册");
      $("#sponsor-sign-in").removeClass("active");
      $("#sponsor-register").addClass("active");
    });
    $("#organizer-form").click(function(){
      if ($("#organizer-form").text() == "登录"){
        $("#login-organizer-form").submit();
      }
      else {
        $("#register-organizer-form").submit();
      }
    });
    $("#contestant-form").click(function(){
      $("#login-contestant-form").submit();
    });
    $('.bar-slide').slideToUnlock({
      text : '滑动以验证',
      succText : '验证成功',
      successFunc: function() {
        $("#contestant-form").attr("class","btn btn-primary");
        $("#contestant-form").removeAttr("disabled");
      }
    });
  </script>

{% endblock javascripts %}
