{% extends "base.html" %}

{% block title %}{% endblock title %}

{% block stylesheets %}
  {{ block.super }}
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>{{organizer.name}} <small>{{organizer.biography}}</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <div class="col-md-3 col-sm-3 col-xs-12 profile_left">
                <div class="profile_img">
                  <div id="crop-avatar">
                    <a href="#">
                      <img class="img-responsive avatar-view" src="/static/images/avatar.jpg" height="220" width="220" alt="Avatar" title="Change the avatar">
                    </a>
                  </div>
                </div>
                <h3>{{organizer.name}}</h3>

                <ul class="list-unstyled user_data">
                  <li>
                    <i class="fa fa-map-marker user-profile-icon"></i> {{organizer.location}}
                  </li>

                  <li>
                    <i class="fa fa-briefcase user-profile-icon"></i> {{organizer.field}}
                  </li>

                  <li class="m-top-xs">
                    <i class="fa fa-external-link user-profile-icon"></i>
                    <a href={{organizer.website}} target="_blank"> 网址 </a>
                  </li>
                </ul>

                <br />

              </div>
              <div class="col-md-9 col-sm-9 col-xs-12">

                <div class="row tile_count">
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-home"></i> 进行中的比赛 </span>
                    <div class="count"><a href="#competitions-on-line">{{tournament_ongoing_num}}</a></div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-user"></i> 当前参加人数 </span>
                    <div class="count">{{ongoing_team_num}}</div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-book"></i> 累计举办比赛 </span>
                    <div class="count"><a href="#competitions-off-line">{{tournament_finished_num}}</a></div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-clock-o"></i> 累计参加人数 </span>
                    <div class="count">{{total_team_num}}</div>
                  </div>
                  <div class="col-md-2 col-sm-4 col-xs-6 tile_stats_count">
                    <span class="count_top"><i class="fa fa-bolt"></i> 贡献度 </span>
                    <div class="count">{{contribution}}</div>
                  </div>
                </div>

                <div class="x_panel">
                  <div class="" role="tabpanel" data-example-id="togglable-tabs">
                    <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                      <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">近期动态</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">举办的比赛</a>
                      </li>
                      <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">更多</a>
                      </li>
                    </ul>
                    <div id="myTabContent" class="tab-content">
                      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="home-tab">
                        <ul class="messages">
                        	{% for t in tournaments_recent %}
                          <li>
                            <img src={{t.image}} class="avatar" alt="Avatar">
                            <div class="message_date">
                              <h3 class="date text-info">{{t.register_begin_time.datetime.day}}</h3>
                              <p class="month">{{t.register_begin_time.datetime.month}}</p>
                            </div>
                            <div class="message_wrapper">
                              <h4 class="heading">{{t.name}}</h4>
                              <blockquote class="message">{{t.description}}</blockquote>
                              <br />
                              <p class="url">
                                <span class="fs1 text-info" aria-hidden="true" data-icon=""></span>
                                <a href="{% url 'tournament-detail-contestant' t.id %}"><i class="fa fa-external-link"></i> 详情 </a>
                              </p>
                            </div>
                          </li>
                          {% endfor %}
                        </ul>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab">
                        <table class="table table-striped table-bordered">
                          <thead>
                            <tr>
                              <th>比赛名称</th>
                              <th>开始时间</th>
                              <th>结束时间</th>
                              <th>比赛主页</th>
                            </tr>
                          </thead>
                          <tbody>
                            {% for t in tournaments_faraway %}
                            <tr>
                              <td>{{t.name}}</td>
                              <td>{{t.register_begin_time}}</td>
                              <td>{{t.overall_end_time}}</td>
                              <td><a href="{% url 'tournament-detail-contestant' t.id %}">{{t.name}}</a></td>
                            </tr>
                            {% endfor %}
                          </tbody>
                        </table>
                      </div>
                      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="profile-tab">
                        <p>{{organizer.description}}</p>
                      </div>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}