<!DOCTYPE html>
<html lang="en">
  <head>
    {% block head %}
      {% block meta %}
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
        <!-- Meta, title, CSS, favicons, etc. -->
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1">
      {% endblock meta %}

      <title>Gleam | Admin</title>

      {% block stylesheets %}
        <!-- cdn -->
        <link href="https://cdn.bootcss.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/iCheck/1.0.2/skins/flat/green.css" rel="stylesheet">
        <link href="https://cdn.bootcss.com/jqvmap/1.5.1/jqvmap.min.css" rel="stylesheet">

        <!-- local -->
        <link href="/static/build/css/custom.css" rel="stylesheet">

      {% endblock stylesheets %}
    {% endblock head %}
  </head>

  <body class="{% block body_class %}nav-md {% endblock body_class %}">
    {% block body %}
      <div class="container body">
        <div class="main_container">

          {% block sidebar %}
            <div class="col-md-3 left_col {% block sidebar_class %} {% endblock sidebar_class %}">
              {% include "organizer_sidebar.html" %}
            </div>
          {% endblock sidebar %}

          {% block content %}
            <!-- {{ content }} -->
          {% endblock content %}

          {% block footer %}
            <footer>
              {% include "footer.html" %}
            </footer>
          {% endblock footer %}
        </div>
      </div>

      {% block javascripts %}
        <!-- cdn -->
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.0.0-beta/js/bootstrap.min.js"></script>
        <script src="https://cdn.bootcss.com/fastclick/1.0.6/fastclick.min.js"></script>
        <script src="https://cdn.bootcss.com/nprogress/0.2.0/nprogress.min.js"></script>
        <script src="https://cdn.bootcss.com/iCheck/1.0.2/icheck.min.js"></script>
        <script src="https://cdn.bootcss.com/select2/4.0.6-rc.1/js/i18n/zh-CN.js"></script>
        <script src="https://cdn.bootcss.com/parsley.js/2.8.0/parsley.min.js"></script>
        <script src="https://cdn.bootcss.com/autosize.js/4.0.0/autosize.min.js"></script>
        <script src="https://cdn.bootcss.com/jquery.devbridge-autocomplete/1.4.5/jquery.autocomplete.min.js"></script>

        <!-- local -->
        <script src="/static/vendors/devbridge-autocomplete/dist/jquery.autocomplete.min.js"></script>
        <script src="/static/vendors/starrr/dist/starrr.js"></script>
        <script src="/static/build/js/custom.js"></script>

      {% endblock %}
    {% endblock body %}
  </body>
</html>
