{% extends "base.html" %}

{% block title %} 比赛列表 {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/build/css/custom.css" rel="stylesheet"/>

{% endblock stylesheets %}

{% block content %}
<div style="height:100px;"></div>

<div class="col-md-10 col-md-offset-1" role="main">
  <div class="page-title">
    <div class="text-center">
      <h1>比赛列表</h1>
    </div>
  </div>

  <div class="clearfix"></div>

  <div class="container">
    <div class="text-center col-md-8 col-md-offset-2">
      <ul class="nav nav-pills">
        <li class="active" style="width:33%;"><a style="font-size:18px;" href="#tab_content1" data-toggle="tab">进行中</a></li>
        <li style="width:33%;"><a style="font-size:18px;" href="#tab_content2" data-toggle="tab">即将开始</a></li>
        <li style="width:33%;"><a style="font-size:18px;" href="#tab_content3" data-toggle="tab">已结束</a></li>
      </ul>
    </div>
    <div class="clearfix"></div>

    <div id="tournament_list_content" class="tab-content">
      <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="online">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
          <div class="x_content">
            <div class="space"></div>
            {% if tournaments_online == NULL %}
            <h2>目前没有进行中的比赛</h2>
            {% else %}
            <table class="table table-added table-bordered">
              <thead>
              <tr>
                <th>比赛名称</th>
                <th>主办方</th>
                <th>参赛人数</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>赛事主页</th>
              </tr>
              </thead>

              <tbody>
              {% for tournament in tournaments_online %}
              <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.organizer.organization}}</td>
                <td>{{ tournament.team_cnt}}</td>
                <td>{{ tournament.register_begin_time }}</td>
                <td>{{ tournament.register_end_time }}</td>
                <td><a href="{% url 'tournament-detail-contestant' tournament.id %}">{{ tournament.name }}</a></td>
              </tr>
              {% endfor %}
              <!--<tr>
                <td>“迁瑞杯”全校吃鸡大赛</td>
                <td>2017/02/30</td>
                <td>2018/1/1</td>
                <td>100</td>
                <td>666</td>
                <td>完赛</td>
                <td><a href="#detail">“迁瑞杯”全校吃鸡大赛</a></td>
              </tr>
              <tr>
                <td>“吃鸡吧”全国吃鸡联赛</td>
                <td>2017/02/30</td>
                <td>2018/1/1</td>
                <td>100</td>
                <td>666</td>
                <td>尚未开始</td>
                <td><a href="#detail">“吃鸡吧”全国吃鸡联赛</a></td>
              </tr>-->
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="ongoing">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
          <div class="x_content">
            <div class="space"></div>
            {% if tournaments_registering == NULL %}
            <h2>目前没有即将开始的比赛</h2>
            {% else %}
            <table class="table table-added table-bordered">
              <thead>
              <tr>
                <th>比赛名称</th>
                <th>主办方</th>
                <th>参赛人数</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>赛事主页</th>
              </tr>
              </thead>

              <tbody>
              {% for tournament in tournaments_registering %}
              <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.organizer.organization}}</td>
                <td>{{ tournament.team_cnt}}</td>
                <td>{{ tournament.register_begin_time }}</td>
                <td>{{ tournament.register_end_time }}</td>
                <td><a href="{% url 'tournament-detail-contestant' tournament.id %}">{{ tournament.name }}</a></td>
              </tr>
              {% endfor %}
              <!--<tr>
                <td>“迁瑞杯”全校吃鸡大赛</td>
                <td>2017/02/30</td>
                <td>2018/1/1</td>
                <td>100</td>
                <td>666</td>
                <td>完赛</td>
                <td><a href="#detail">“迁瑞杯”全校吃鸡大赛</a></td>
              </tr>
              <tr>
                <td>“吃鸡吧”全国吃鸡联赛</td>
                <td>2017/02/30</td>
                <td>2018/1/1</td>
                <td>100</td>
                <td>666</td>
                <td>尚未开始</td>
                <td><a href="#detail">“吃鸡吧”全国吃鸡联赛</a></td>
              </tr>-->
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
      <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="offline">
        <div class="container object-non-visible" data-animation-effect="fadeIn">
          <div class="x_content">
            <div class="space"></div>
            {% if tournaments_offline == NULL %}
            <h2 style="text-align: center">目前没有已结束的比赛</h2>
            <div class="space"></div>
            {% else %}
            <table class="table table-added table-bordered">
              <thead>
              <tr>
                <th>比赛名称</th>
                <th>主办方</th>
                <th>参赛人数</th>
                <th>开始时间</th>
                <th>结束时间</th>
                <th>赛事主页</th>
              </tr>
              </thead>

              <tbody>
              {% for tournament in tournaments_offline %}
              <tr>
                <td>{{ tournament.name }}</td>
                <td>{{ tournament.organizer.organization}}</td>
                <td>{{ tournament.team_cnt}}</td>
                <td>{{ tournament.register_begin_time }}</td>
                <td>{{ tournament.register_end_time }}</td>
                <td><a href="{% url 'tournament-detail-contestant' tournament.id %}">{{ tournament.name }}</a></td>
              </tr>
              {% endfor %}
              </tbody>
            </table>
            {% endif %}
          </div>
        </div>
      </div>
    </div>

  </div>
  <div class="clearfix"></div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<script src="/static/build/js/custom.js"></script>
<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
{% endblock javascripts %}
