{% extends "base.html" %}

{% block title %} | 比赛详情{% endblock title %}

{% block content %}
<div class = "container">
  <div class = "row">
    <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <h1 id="tournament_name" class="title text-center">{{ name }}</h1>
            <p class="lead text-center">该锦标赛包含多个阶段赛，请留意各阶段相关时间.</p>
            <div class="space"></div>
            <div class="row">
              <div class="col-md-8 col-md-offset-2">
                <img src="/static/images/contest_img.jpg" style="width:100%;">
                <div class="space"></div>
              </div>
            </div>
            <div class="container">
              <div class="text-center">
                <ul class="nav nav-pills">
                  <li class="active" style="width:24%;"><a style="font-size:24px;" href="#tab_info" data-toggle="tab">比赛详情</a></li>
                  <li style="width:24%;"><a style="font-size:24px;" href="#tab_rank" data-toggle="tab">排行榜</a></li>
                  <li style="width:24%;"><a style="font-size:24px;" href="#tab_team" data-toggle="tab">我的队伍</a></li>
                  <li style="width:24%;"><a style="font-size:24px;" href="#tab_discuss" data-toggle="tab">讨论区</a></li>
                </ul>
              </div>
              <div id="tournament_content" class="tab-content">
                <div class="tab-pane fade active in" style="text-align: center" id="tab_info">
                  <div class="space"></div>
                  <div class="row">
                    <div class="col-md-12">
                      <h3>赛事主办方</h3>
                      <p>{{ organization }}</p>

                      <h3>比赛状态</h3>
                      <p>{{ status }}</p>

                      <h3>注册时间</h3>
                      <p>{{ register_begin_time}} to {{ register_end_time }}</p>

                      <h3>比赛详情</h3>
                      <p>{{ description }}</p>

                      <h3>赛制说明</h3>
                      <p>该锦标赛包含以下几个阶段赛组成，点击各阶段以查看阶段赛详情</p>
                      <!--<div class="progress progress-striped active" style="height:50px;">
                        <div class="progress-bar progress-bar-warning " role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 30%;">
                          <a href="#contest_finished_detail" data-toggle="tab" style="display:inline-block;line-height:50px;font-size:30px;color:white;">已结束</a>
                        </div>
                        <div class="progress-bar progress-bar-success progress-striped active" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 40%;">
                          <a href="#current_contest_detail" data-toggle="tab" style="display:inline-block;line-height:50px;font-size:30px;color:white;">正在进行</a>
                        </div>
                        <div class="progress-bar progress-bar-info progress-striped active" role="progressbar"
                             aria-valuenow="60" aria-valuemin="0" aria-valuemax="100"
                             style="width: 30%;">
                          <a href="#contest_detail_coming" data-toggle="tab" style="display:inline-block;line-height:50px;font-size:30px;color:white;">即将到来</a>
                        </div>
                      </div>-->
                      <div class="col-md-8 col-md-offset-2">
                        <div class="panel-group" id="accordion" role="tablist" aria-multiselectable="true">
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingOne">
                              <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
                                  已经结束的比赛
                                </a>
                              </h4>
                            </div>
                            <div id="collapseOne" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingOne">
                              <div class="panel-body">
                                <table class="table table-added table-bordered">
                                  <thead>
                                  <tr>
                                    <th>阶段赛名称</th>
                                    <th>提交开始时间</th>
                                    <th>提交结束时间</th>
                                    <th>结果公布时间</th>
                                    <th>阶段赛详情</th>
                                    <th>每日最大提交数</th>
                                  </tr>
                                  </thead>

                                  <tbody>
                                  {% for contest in contests_finished %}
                                  <tr>
                                    <td>{{ contest.name }}</td>
                                    <td>{{ contest.submit_begin_time }}</td>
                                    <td>{{ contest.submit_end_time }}</td>
                                    <td>{{ contest.release_time }}</td>
                                    <td>{{ contest.description }}</td>
                                    <td>{{ contest.max_submit_num }}</td>
                                  </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingTwo">
                              <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseTwo" aria-expanded="true" aria-controls="collapseTwo">
                                  正在进行的比赛
                                </a>
                              </h4>
                            </div>
                            <div id="collapseTwo" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingTwo">
                              <div class="panel-body">
                                {% if current_contest %}
                                <h2>{{ current_contest.name }}</h2>
                                <div class="row">
                                  <div class="col-md-12">
                                    <h3>提交时间</h3>
                                    <p>{{ current_contest.submit_begin_end }} to {{ current_contest.submit_end_time }}</p>

                                    <h3>结果公布时间</h3>
                                    <p><b>Before: </b>{{ current_contest.release_time }}</p>

                                    <h3>阶段赛详情</h3>
                                    <p>{{ current_contest.description }}</p>
                                  </div>
                                </div>
                                {% else %}
                                <h2>目前没有正在进行的比赛</h2>
                                {% endif %}
                              </div>
                            </div>
                          </div>
                          <div class="panel panel-default">
                            <div class="panel-heading" role="tab" id="headingThree">
                              <h4 class="panel-title">
                                <a class="collapsed" data-toggle="collapse" data-parent="#accordion"
                                   href="#collapseThree" aria-expanded="false"
                                   aria-controls="collapseThree">
                                  尚未开始的比赛
                                </a>
                              </h4>
                            </div>
                            <div id="collapseThree" class="panel-collapse collapse" role="tabpanel"
                                 aria-labelledby="headingThree">
                              <div class="panel-body">
                                <table class="table table-added table-bordered">
                                  <thead>
                                  <tr>
                                    <th>阶段赛名称</th>
                                    <th>提交开始时间</th>
                                    <th>提交结束时间</th>
                                    <th>结果公布时间</th>
                                    <th>阶段赛详情</th>
                                    <th>每日最大提交数</th>
                                  </tr>
                                  </thead>

                                  <tbody>
                                  {% for contest in contests_coming %}
                                  <tr>
                                    <td>{{ contest.name }}</td>
                                    <td>{{ contest.submit_begin_time }}</td>
                                    <td>{{ contest.submit_end_time }}</td>
                                    <td>{{ contest.release_time }}</td>
                                    <td>{{ contest.description }}</td>
                                    <td>{{ contest.max_submit_num }}</td>
                                  </tr>
                                  {% endfor %}
                                  </tbody>
                                </table>
                              </div>
                            </div>
                          </div>
                        </div>
                      </div>
                      <!--<div id="contest_tab" class="tab-content">
                          <div id="contest_finished_detail" class="tab-pane fade active in">
                          <table class="table table-added table-bordered">
                            <thead>
                            <tr>
                              <th>阶段赛名称</th>
                              <th>提交开始时间</th>
                              <th>提交结束时间</th>
                              <th>结果公布时间</th>
                              <th>阶段赛详情</th>
                              <th>每日最大提交数</th>
                            </tr>
                            </thead>

                            <tbody>
                            {% for contest in contests_finished %}
                            <tr>
                              <td>{{ contest.name }}</td>
                              <td>{{ contest.submit_begin_time }}</td>
                              <td>{{ contest.submit_end_time }}</td>
                              <td>{{ contest.release_time }}</td>
                              <td>{{ contest.description }}</td>
                              <td>{{ contest.max_submit_num }}</td>
                            </tr>
                            {% endfor %}
                            </tbody>
                          </table>
                          </div>
                          <div id="current_contest_detail" class="tab-pane fade">
                            <h2>{{ current_contest.name }}</h2>
                            <div class="row">
                              <div class="col-md-12">
                                <h3>提交时间</h3>
                                <p>{{ current_contest.submit_begin_end }} to {{ current_contest.submit_end_time }}</p>

                                <h3>结果公布时间</h3>
                                <p><b>Before: </b>{{ current_contest.release_time }}</p>

                                <h3>阶段赛详情</h3>
                                <p>{{ current_contest.description }}</p>
                              </div>
                            </div>
                          </div>
                          <div id="contest_detail_coming" class="tab-pane fade">
                            <table class="table table-added table-bordered">
                              <thead>
                              <tr>
                                <th>阶段赛名称</th>
                                <th>提交开始时间</th>
                                <th>提交结束时间</th>
                                <th>结果公布时间</th>
                                <th>阶段赛详情</th>
                                <th>每日最大提交数</th>
                              </tr>
                              </thead>

                              <tbody>
                              {% for contest in contests_coming %}
                              <tr>
                                <td>{{ contest.name }}</td>
                                <td>{{ contest.submit_begin_time }}</td>
                                <td>{{ contest.submit_end_time }}</td>
                                <td>{{ contest.release_time }}</td>
                                <td>{{ contest.description }}</td>
                                <td>{{ contest.max_submit_num }}</td>
                              </tr>
                              {% endfor %}
                              </tbody>
                            </table>
                          </div>
                        </div>-->
                    </div>
                  </div>
                </div>
                <div class="tab-pane fade" style="text-align: center;" id="tab_rank">
                  <!--<div class="space"></div>
                  <h3>当前显示的是
                    <select class="selectpicker" id="contest_select" data-style="btn btn-info">
                      <option href="#table_1" data-toggle="tab">预选赛</option>
                      <option href="#table_2" data-toggle="tab">初赛</option>
                      <option href="#table_3" data-toggle="tab">复赛</option>
                      <option href="#table_4" data-toggle="tab">决赛</option>
                    </select>
                    阶段的排行榜</h3>
                  <div class="space"></div>
                  <div class="col-md-12 tab-content">
                    <div class="tab-pane fade active in" id="table_1">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Team Name</th>
                          <th>Leader</th>
                          <th>Tutor</th>
                          <th>Score</th>
                          <th>Submit_time</th>
                        </tr>
                        </thead>

                        <tbody>
                        {% for item in leaderboard %}
                        <tr>
                          <th scope="row">{{ item.rank }}</th>
                          <td>{{ item.team_name }}</td>
                          <td>{{ item.leader}}</td>
                          <td>{{ team.tutor }}</td>
                          <td>{{ team.score }}</td>
                          <td>{{ team.submit_num }}</td>
                        </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="table_2">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Team Name</th>
                          <th>Team Leader</th>
                          <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>神韦敬致</td>
                          <td>Godv</td>
                          <td>97.02</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>盒子精</td>
                          <td>Thornton</td>
                          <td>96.34</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>playerunknow</td>
                          <td>the Bird</td>
                          <td>93.40</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="table_3">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Team Name</th>
                          <th>Team Leader</th>
                          <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>神韦敬致</td>
                          <td>Godv</td>
                          <td>97.02</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>盒子精</td>
                          <td>Thornton</td>
                          <td>96.34</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>playerunknow</td>
                          <td>the Bird</td>
                          <td>93.40</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                    <div class="tab-pane fade" id="table_4">
                      <table class="table table-hover">
                        <thead>
                        <tr>
                          <th>#</th>
                          <th>Team Name</th>
                          <th>Team Leader</th>
                          <th>Score</th>
                        </tr>
                        </thead>
                        <tbody>
                        <tr>
                          <th scope="row">1</th>
                          <td>神韦敬致</td>
                          <td>Godv</td>
                          <td>97.02</td>
                        </tr>
                        <tr>
                          <th scope="row">2</th>
                          <td>盒子精</td>
                          <td>Thornton</td>
                          <td>96.34</td>
                        </tr>
                        <tr>
                          <th scope="row">3</th>
                          <td>playerunknow</td>
                          <td>the Bird</td>
                          <td>93.40</td>
                        </tr>
                        </tbody>
                      </table>
                    </div>
                  </div>-->
                  <div class="space"></div>
                  <h3>当前显示的是正在进行阶段的排行榜</h3>
                  <div class="space"></div>
                  <div>
                    <table class="table table-hover">
                      <thead>
                      <tr>
                        <th>名次</th>
                        <th>队伍名</th>
                        <th>队长</th>
                        <th>指导教师</th>
                        <th>成绩</th>
                        <th>提交次数</th>
                      </tr>
                      </thead>

                      <tbody>
                      {% for item in leaderboard %}
                      <tr>
                        <th scope="row">{{ item.rank }}</th>
                        <td>{{ item.team_name }}</td>
                        <td>{{ item.leader}}</td>
                        <td>{{ team.tutor }}</td>
                        <td>{{ team.score }}</td>
                        <td>{{ team.submit_num }}</td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
                <div class="tab-pane fade" id="tab_team">
                  <div class="space"></div>
                  {% if team_status == 0 %}
                  <form id="team_form" action="{% url 'register' tournament_id %}"  method="post" class="form-horizontal form-label-left">
                    {% csrf_token %}
                    <div class="form-group">
                      <label class="control-label col-md-3" for="unique_id">队伍id
                      </label>
                      <div class="col-md-6">
                        <input type="text" id="unique_id" name="unique_id" value="{{ unique_id }}"
                               class="form-control col-md-7">
                      </div>
                    </div>
                    <div class="form-group">
                      <div class="col-md-6 col-md-offset-3">
                        <button type="submit" form="team_form" class="btn btn-success">我要参赛</button>
                      </div>
                    </div>
                  </form>
                  {% else %}
                  <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                      <h2>我的队伍: {{ team.team_name }}</h2>
                      {% if team.unique_id != "0" %}
                      <h3>Team id: {{ team.unique_id }}
                      </h3>
                      {% endif %}
                      <h3>队员:
                        {% for contestant in team.members %}
                        <a>{{ contestant.nick_name }}</a>
                        {%  endfor %}
                      </h3>
                      <h3>指导教师: <a>{{ team.tutor }}</a></h3>
                      <h3>提交次数：{{ team.submit_num }}</h3>
                      <div>
                        <button class="btn btn-success">提交结果</button>
                        <button class="btn btn-primary">查看过往提交</button>
                        <button class="btn btn-warning">我要退赛</button>
                      </div>
                    </div>
                  </div>
                  {% endif %}
                </div>
                <div class="tab-pane fade" id="tab_discuss">
                  <div class="space"></div>
                  <table class="table table-striped projects">
                    <thead>
                    <tr>
                      <th style="width: 1%">#</th>
                      <th >标题</th>
                      <th >主题</th>
                      <th >发布者</th>
                      <th >发布时间</th>
                      <th >最后回复时间</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                      <td>#1</td>
                      <td>
                        <a>Pesamakini Backend UI</a>
                      </td>
                      <td>
                        <p>流程相关</p>
                      </td>
                      <td>
                        <a>Lanxiaozhi</a>
                      </td>
                      <td >
                        <p>2017/11/19 16:01:01</p>
                      </td>
                      <td>
                        <p>2017/11/19 16:05:01</p>
                      </td>
                    </tr>
                    <tr>
                      <td>#2</td>
                      <td>
                        <a>Pesamakini Backend UI</a>
                      </td>
                      <td>
                        <p>奖金相关</p>
                      </td>
                      <td>
                        <a>Lanxiaozhi</a>
                      </td>
                      <td >
                        <p>2017/11/19 16:01:01</p>
                      </td>
                      <td>
                        <p>2017/11/19 16:05:01</p>
                      </td>
                    </tr>
                    <tr>
                      <td>#2</td>
                      <td>
                        <a>Pesamakini Backend UI</a>
                      </td>
                      <td>
                        <p>流程相关</p>
                      </td>
                      <td>
                        <a>Lanxiaozhi</a>
                      </td>
                      <td >
                        <p>2017/11/19 16:01:01</p>
                      </td>
                      <td>
                        <p>2017/11/19 16:05:01</p>
                      </td>
                    </tr>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}