{% extends "organizer_base.html" %}

{% block title %} 创建比赛 {% endblock title %}

{% block stylesheets %}
  {{ block.super }}
  <link href="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/css/bootstrap-datepicker.min.css" rel="stylesheet">
  <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/css/fileinput.min.css" media="all" rel="stylesheet" type="text/css" />
{% endblock stylesheets %}

{% block content %}
  <div class="right_col" role="main">
    <div class="">
      <div class="clearfix"></div>
      <div class="row">
        <div class="col-md-12 col-sm-12 col-xs-12">
          <div class="x_panel">
            <div class="x_title">
              <h2>创建新比赛 <small>创建的比赛会首先经过Gleam的审核，审核通过后方可发布</small></h2>
              <div class="clearfix"></div>
            </div>
            <div class="x_content">
              <form class="form-horizontal form-label-left" role="form" data-toggle="validator" action="{% url 'create-contest' %}" method="post" id="contest-form" enctype="multipart/form-data">
                {% csrf_token %}

                <div class="form-group">
                  <label class="control-label col-md-3" for="competition-name">比赛名称 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="text" id="competition-name" name="name" maxlength="128" class="form-control col-md-7 col-xs-12" required>
                    <div class="help-block with-errors"></div>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="competition-description">比赛描述 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <textarea class="resizable_textarea form-control" name="description" id="competition-description" required="required"></textarea>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="dataset-description">赛事图片 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 col-sm-6 col-xs-12">
                    <input type="file" name="image" required="required" id="tournament-image" required="required" accept=".jpg,.png">
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="register_begin_time">报名开始时间 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 xdisplay_inputx form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" required="required" id="register_begin_time" name="register_begin_time">
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="register_end_time">报名结束时间 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 xdisplay_inputx form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="register_end_time" required="required" name="register_end_time" >
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div class="form-group">
                  <label class="control-label col-md-3" for="overall_end_time">总成绩公布时间 <span class="required">*</span>
                  </label>
                  <div class="col-md-6 xdisplay_inputx form-group has-feedback">
                    <input type="text" class="form-control has-feedback-left" id="overall_end_time" required="required" name="overall_end_time" >
                    <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span>
                  </div>
                </div>

                <div id="formpart"></div>
                <div id="form_btn_group" class="pull-right">
                  <button class="btn btn-primary" id="addform" type="button">添加比赛阶段</button>
                  <button class="btn btn-primary" id="removeform" type="button">移除比赛阶段</button>
                  <button class="btn btn-primary" id="submitform" type="submit" form="contest-form">提交审核</button>
                </div>

              </form>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super}}
  <script src="https://cdn.bootcss.com/bootstrap-datepicker/1.7.1/js/bootstrap-datepicker.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/4.4.5/js/fileinput.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.9/validator.min.js"></script>

  <script type="text/javascript">

    $(document).ready(function() {
      $('#register_begin_time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii'
      });
      $('#register_end_time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii'
      });
      $('#overall_end_time').datetimepicker({
        format: 'yyyy-mm-dd hh:ii'
      });
      $("#tournament-image").fileinput({
          showUpload: false,
          maxFileSize: 1024,
          maxFileCount: 1,
          minFileCount: 1,
      });
    })

    // for dynamic form
    var contest_creation_stage_cnt = 0;
    $("#addform").click(function(){
      contest_creation_stage_cnt += 1;
      var new_stage_form = ' \
      <div id="stage_form_'+contest_creation_stage_cnt+'"> \
        <h3>阶段'+contest_creation_stage_cnt+'</h3> \
        <div class="form-group"> \
          <label class="control-label col-md-3" for="name_'+contest_creation_stage_cnt+'">阶段名称 <span class="required">*</span> \
          </label> \
          <div class="col-md-6 xdisplay_inputx form-group has-feedback"> \
            <input type="text" maxlength="128" class="form-control has-feedback-left" required="required" id="name_'+contest_creation_stage_cnt+'" name="name_'+contest_creation_stage_cnt+'" > \
            <span class="fa fa-pencil form-control-feedback left" aria-hidden="true"></span> \
          </div> \
        </div> \
        <div class="form-group"> \
          <label class="control-label col-md-3" for="description_'+contest_creation_stage_cnt+'">阶段描述 <span class="required">*</span> \
          </label> \
          <div class="col-md-6 xdisplay_inputx form-group has-feedback"> \
            <textarea class="resizable_textarea form-control" name="description_'+contest_creation_stage_cnt+'" id="description_'+contest_creation_stage_cnt+'"></textarea> \
          </div> \
        </div> \
        <div class="form-group"> \
          <label class="control-label col-md-3" for="submit_begin_time_'+contest_creation_stage_cnt+'">阶段开始时间 <span class="required">*</span> \
          </label> \
          <div class="col-md-6 xdisplay_inputx form-group has-feedback"> \
            <input type="text" class="form-control has-feedback-left" required="required" id="submit_begin_time_'+contest_creation_stage_cnt+'" name="submit_begin_time_'+contest_creation_stage_cnt+'" > \
            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span> \
          </div> \
        </div> \
        <div class="form-group"> \
          <label class="control-label col-md-3" for="submit_end_time_'+contest_creation_stage_cnt+'">阶段结束时间 <span class="required">*</span> \
          </label> \
          <div class="col-md-6 xdisplay_inputx form-group has-feedback"> \
            <input type="text" class="form-control has-feedback-left" required="required" id="submit_end_time_'+contest_creation_stage_cnt+'" name="submit_end_time_'+contest_creation_stage_cnt+'" > \
            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span> \
          </div> \
        </div> \
        <div class="form-group"> \
          <label class="control-label col-md-3" for="release_time_'+contest_creation_stage_cnt+'">公布阶段结果时间 <span class="required">*</span> \
          </label> \
          <div class="col-md-6 xdisplay_inputx form-group has-feedback"> \
            <input type="text" class="form-control has-feedback-left" required="required" id="release_time_'+contest_creation_stage_cnt+'" name="release_time_'+contest_creation_stage_cnt+'" > \
            <span class="fa fa-calendar-o form-control-feedback left" aria-hidden="true"></span> \
          </div> \
        </div> \
      </div> \
      '
      $("#formpart").before($(new_stage_form));
      $("#submit_begin_time_"+contest_creation_stage_cnt).datetimepicker({
        format: 'yyyy-mm-dd hh:ii'
      });
      $("#submit_end_time_"+contest_creation_stage_cnt).datetimepicker({
        format: 'yyyy-mm-dd hh:ii'
      });
      $("#release_time_"+contest_creation_stage_cnt).datetimepicker({
        format: 'yyyy-mm-dd hh:ii'
      });
    });
    $("#removeform").click(function(){
      $("#stage_form_"+contest_creation_stage_cnt).remove();
      contest_creation_stage_cnt -= 1;
    });
  </script>
{% endblock javascripts %}

