{% extends "base.html" %}

{% block title %} 比赛列表 {% endblock title %}

{% block stylesheets %}
{{ block.super }}
<link href="/static/build/css/custom.css" rel="stylesheet"/>

{% endblock stylesheets %}

{% block content %}
<div style="height:100px;"></div>

<div class="col-md-10 col-md-offset-1" role="main">
  <div class="">
    <div class="page-title">
      <div class="text-center">
        <h3>比赛列表</h3>
      </div>
    </div>
    <div class="clearfix"></div>
    <div class="container body">
      <div class="main_container">
        <div class="main-content">
          <div class="x_panel">
            <div class="x_content">
              <div class="" role="tabpanel" data-example-id="togglable-tabs">
                <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                  <li role="presentation" class="active"><a href="#tab_content1" id="home-tab" role="tab" data-toggle="tab" aria-expanded="true">进行中</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab" data-toggle="tab" aria-expanded="false">即将开始</a>
                  </li>
                  <li role="presentation" class=""><a href="#tab_content3" role="tab" id="profile-tab2" data-toggle="tab" aria-expanded="false">已结束</a>
                  </li>
                </ul>
                <div id="myTabContent" class="tab-content">
                  <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="online">
                    <div class="x_content">
                      <ul class="list-unstyled timeline">
                        {% for c in tournaments_online %}
                        <li>
                          <div class="block">
                            <div class="tags">
                              <a class="tag">
                                <span><i class="fa fa-fire"></i>{{c.current_contest.team_cnt}}</span>
                              </a>
                            </div>
                            <div class="block_content">
                              <h2 class="title">
                                <a href="{% url 'tournament-detail-contestant' c.id %}">{{c.name}}</a>
                              </h2>
                              <div class="byline">
                                <span>{{c.current_contest.submit_begin_time}} - {{c.current_contest.submit_end_time}}</span> by <a>{{c.organizer.organization}}</a>
                              </div>
                              <p class="excerpt">{{c.description}}</p>
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="ongoing">
                    <div class="x_content">
                      <ul class="list-unstyled timeline">
                        {% for c in tournaments_registering %}
                        <li>
                          <div class="block">
                            <div class="tags">
                              <a class="tag">
                                <span><i class="fa fa-fire"></i>{{c.current_contest.team_cnt}}</span>
                              </a>
                            </div>
                            <div class="block_content">
                              <h2 class="title">
                                <a href="{% url 'tournament-detail-contestant' c.id %}">{{c.name}}</a>
                              </h2>
                              <div class="byline">
                                <span>{{c.current_contest.submit_begin_time}} - {{c.current_contest.submit_end_time}}</span> by <a>{{c.organizer.organization}}</a>
                              </div>
                              <p class="excerpt">{{c.description}}</p>
                            </div>
                          </div>
                        </li>
                        {% endfor %}
                      </ul>
                    </div>
                  </div>
                  <div role="tabpanel" class="tab-pane fade" id="tab_content3" aria-labelledby="offline">
                    <table id="datatable" class="table table-striped table-bordered">
                      <thead>
                      <tr>
                        <th>比赛名称</th>
                        <th>主办方</th>
                        <th>参赛人数</th>
                        <th>开始时间</th>
                        <th>结束时间</th>
                        <th>赛事主页</th>
                      </tr>
                      </thead>
                      <tbody>
                      {% for c in contests_published %}
                      <tr>
                        <td>{{c.name}}</td>
                        <td>{{c.organizer.organization}}</td>
                        <td>{{c.current_contest.team_cnt}}</td>
                        <td>{{c.submit_begin_time}}</td>
                        <td>{{c.submit_end_time}}</td>
                        <td><a href="{% url 'tournament-detail-contestant' c.id %}">赛事主页</a></td>
                      </tr>
                      {% endfor %}
                      </tbody>
                    </table>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="clearfix"></div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
<script src="/static/build/js/custom.js"></script>
<script src="/static/vendors/datatables.net/js/jquery.dataTables.min.js"></script>
<script src="/static/vendors/datatables.net-bs/js/dataTables.bootstrap.min.js"></script>
{% endblock javascripts %}
