{% extends "base.html" %}

{% block title %} | 主页{% endblock title %}

{% block content %}
<div style="height:100px;"></div>
<div class="container">
	<div class="row">
		<div id="myCarousel" class="carousel slide">
			<ol class="carousel-indicators">
				<li data-target="#myCarousel" data-slide-to="0" class="active"></li>
				<li data-target="#myCarousel" data-slide-to="1"></li>
				<li data-target="#myCarousel" data-slide-to="2"></li>
			</ol>
			<div class="carousel-inner">
				<div class="item active">
					<img src="/static/images/banner.jpg" alt="First slide">
				</div>
				<div class="item">
					<img src="/static/images/bg-image-1.jpg" alt="Second slide">
				</div>
				<div class="item">
					<img src="/static/images/bg-image-2.jpg" alt="Third slide">
				</div>
			</div>
			<a class="carousel-control left" href="#myCarousel" data-slide="prev">
				<span class="glyphicon glyphicon-chevron-left"></span>
			</a>
			<a class="carousel-control right" href="#myCarousel" data-slide="next">
				<span class="glyphicon glyphicon-chevron-right"></span>
			</a>
		</div>
	</div>
</div>
<div style="height:80px;"></div>

<div class="container object-non-visible" data-animation-effect="fadeIn">
	<h1 id="contest"  class="text-center title">我关注的竞赛</h1>
	<div class="space"></div>
	<!--<div class="row">
    <div class="col-sm-12">
      <div class="media">
        <div class="media-left">
          <i class="fa fa-desktop"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Contest Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <i class="fa fa-area-chart"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Contest Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <i class="fa fa-desktop"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Contest Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
        </div>
      </div>
      <div class="media">
        <div class="media-left">
          <i class="fa fa-area-chart"></i>
        </div>
        <div class="media-body">
          <h4 class="media-heading">Contest Name</h4>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Iure aperiam consequatur quo quis exercitationem reprehenderit dolor vel ducimus, voluptate eaque suscipit iste placeat.</p>
        </div>
      </div>
    </div>
  </div>-->
	<div class="x_content">
		<table id="datatable-buttons" class="table table-added table-bordered">
			<thead>
			<tr>
				<th>比赛名称</th>
				<th>主办方</th>
				<th>参赛人数</th>
				<th>开始时间</th>
				<th>结束时间</th>
				<th>赛事主页</th>
			</tr>
			</thead>

			<tbody>
			{% for tournament in tournaments %}
			<tr>
				<td>{{ tournament.name }}</td>
				<td>{{ tournament.organizer.organization}}</td>
				<td>{{ tournament.team_cnt}}</td>
				<td>{{ tournament.register_begin_time }}</td>
				<td>{{ tournament.register_end_time }}</td>
				<td><a href="{% url 'tournament-detail-contestant' tournament.id %}">{{ tournament.name }}</a></td>
			</tr>
			{% endfor %}
			<!--<tr>
				<td>“迁瑞杯”全校吃鸡大赛</td>
				<td>2017/02/30</td>
				<td>2018/1/1</td>
				<td>100</td>
				<td>666</td>
				<td>完赛</td>
				<td><a href="#detail">“迁瑞杯”全校吃鸡大赛</a></td>
			</tr>
			<tr>
				<td>“吃鸡吧”全国吃鸡联赛</td>
				<td>2017/02/30</td>
				<td>2018/1/1</td>
				<td>100</td>
				<td>666</td>
				<td>尚未开始</td>
				<td><a href="#detail">“吃鸡吧”全国吃鸡联赛</a></td>
			</tr>-->
			</tbody>
		</table>
	</div>
</div>
</div>
<div class="section">
	<div class="container">
		<h1 class="text-center title" id="portfolio">查看竞赛</h1>
		<div class="separator"></div>
		<p class="lead text-center">这里包含了与你有关的所有比赛<br>点击标签来查看</p>
		<br>
		<div class="row object-non-visible" data-animation-effect="fadeIn">
			<div class="col-md-12">
				<div class="filters text-center">
					<ul class="nav nav-pills">
						<li class="active"><a href="#" data-filter="*">全部</a></li>
						<li><a href="#" data-filter=".web-design">我参加的</a></li>
						<li><a href="#" data-filter=".app-development">正在报名</a></li>
						<li><a href="#" data-filter=".site-building">最热</a></li>
					</ul>
				</div>
				<div class="isotope-container row grid-space-20">
					<div class="col-sm-6 col-md-3 isotope-item web-design">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-1.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-1">
									<i class="fa fa-search-plus"></i>
									<span>Web Design</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-1">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item app-development">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-2.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-2">
									<i class="fa fa-search-plus"></i>
									<span>App Development</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-2">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item web-design">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-3.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-3">
									<i class="fa fa-search-plus"></i>
									<span>Web Design</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-3">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item site-building">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-4.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-4">
									<i class="fa fa-search-plus"></i>
									<span>Site Building</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-4">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item app-development">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-5.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-5">
									<i class="fa fa-search-plus"></i>
									<span>App Development</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-5">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item web-design">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-6.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-6">
									<i class="fa fa-search-plus"></i>
									<span>Web Design</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-6">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item site-building">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-7.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-7">
									<i class="fa fa-search-plus"></i>
									<span>Site Building</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-7">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item web-design">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-8.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-8">
									<i class="fa fa-search-plus"></i>
									<span>Web Design</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-8">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item web-design">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-9.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-9">
									<i class="fa fa-search-plus"></i>
									<span>Web Design</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-9">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item site-building">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-10.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-10">
									<i class="fa fa-search-plus"></i>
									<span>Site Building</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-10">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item web-design">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-11.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-11">
									<i class="fa fa-search-plus"></i>
									<span>Web Design</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-11">Project Title</a>
						</div>
					</div>
					<div class="col-sm-6 col-md-3 isotope-item app-development">
						<div class="image-box">
							<div class="overlay-container">
								<img src="/static/images/portfolio-12.jpg" alt="">
								<a class="overlay" data-toggle="modal" data-target="#project-12">
									<i class="fa fa-search-plus"></i>
									<span>App Development</span>
								</a>
							</div>
							<a class="btn btn-default btn-block" data-toggle="modal" data-target="#project-12">Project Title</a>
						</div>
					</div>
				</div>
				<a class="pull-right" href="{% url 'tournament-list' %}">查看更多</a>
			</div>
		</div>
	</div>
</div>
{% endblock content %}

{% block javascripts %}
{{ block.super }}
{% endblock javascripts %}