<div class="left_col scroll-view">
  <div class="navbar nav_title" style="border: 0;">
    <a class="site_title"><span>Gleam Admin</span></a>
  </div>

  <div class="clearfix"></div>

  <div class="profile clearfix">
    <div class="profile_pic">
      <img src="{% if user.organizer_profile.avatar.image %}{{ user.organizer_profile.avatar.image.url }}{% endif %}" class="img-circle profile_img">
    </div>
    <div class="profile_info">
      <span>Welcome,</span>
      <h2>{{request.user.organizer_profile.organization}}</h2>
    </div>
  </div>

  <br />

  <!-- sidebar menu -->
  <div id="sidebar-menu" class="main_menu_side hidden-print main_menu">
    <div class="menu_section">
      <ul class="nav side-menu">
        <li><a><i class="fa fa-home"></i>比赛管理<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'home-organizer' %}#competitions-on-line">进行中</a></li>
            <li><a href="{% url 'home-organizer' %}#competitions-to-begin">将要开始</a></li>
            <li><a href="{% url 'home-organizer' %}#competitions-to-public">审核中</a></li>
            <li><a href="{% url 'home-organizer' %}#competitions-off-line">已结束</a></li>
            <li><a href="{% url 'create-contest' %}">创建新比赛</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-edit"></i>资料管理<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url 'profile-edit-organizer' %}">资料修改</a></li>
            <li><a href="{% url 'organizer-account-edit' %}">密码修改</a></li>
          </ul>
        </li>
        <li><a><i class="fa fa-info"></i>Gleam<span class="fa fa-chevron-down"></span></a>
          <ul class="nav child_menu">
            <li><a href="{% url '403' %}">关于Gleam</a></li>
            <li><a href="mailto:gleam_10bn_worth@sina.com">联系Gleam</a></li>
          </ul>
        </li>
        <li>
          <a href="{% url 'logout' %}"><i class="fa fa-sign-in"></i>登出</a>
        </li>
      </ul>
    </div>
  </div>
</div>
