{% extends "base/base.html" %}

{% block title %} | 主页{% endblock title %}

{% block stylesheet %}
  {{ block.super }}
  <link rel="stylesheet" type="text/css" href="http://unpkg.com/iview/dist/styles/iview.css">
{% endblock stylesheet %}

{% block content %}
  <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
      <div class="row">
        <div id="myCarousel" class="carousel slide">
          <ol class="carousel-indicators">
            <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
            <li data-target="#myCarousel" data-slide-to="1"></li>
            <li data-target="#myCarousel" data-slide-to="2"></li>
          </ol>
          <div class="carousel-inner">
            <div class="item active">
              <img src="/static/images/banner.jpg" alt="First slide">
            </div>
            <div class="item">
              <img src="/static/images/bg-image-1.jpg" alt="Second slide">
            </div>
            <div class="item">
              <img src="/static/images/bg-image-2.jpg" alt="Third slide">
            </div>
          </div>
          <a class="carousel-control left" href="#myCarousel" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a>
          <a class="carousel-control right" href="#myCarousel" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
          </a>
        </div>
      </div>
    </div>
  </div>

  <!--<div class="container object-non-visible" data-animation-effect="fadeIn">
    <h1 id="contest"  class="text-center title">我参加的比赛</h1>
    <div class="space"></div>
    <div class="x_content">
      <table id="datatable-buttons" class="table table-added table-bordered">
        <thead>
        <tr>
          <th class="text-center">比赛名称</th>
          <th class="text-center">主办方</th>
          <th class="text-center">参赛人数</th>
          <th class="text-center">开始时间</th>
          <th class="text-center">结束时间</th>
          <th class="text-center">赛事主页</th>
        </tr>
        </thead>

        <tbody>
        {% if tournaments %}
          {% for tournament in tournaments %}
            <tr>
              <td>{{ tournament.name }}</td>
              <td>{{ tournament.organizer.organization}}</td>
              <td>{{ tournament.team_cnt}}</td>
              <td>{{ tournament.register_begin_time }}</td>
              <td>{{ tournament.register_end_time }}</td>
              <td><a href="{% url 'tournament-detail-contestant' tournament.id %}">{{ tournament.name }}</a></td>
            </tr>
          {% endfor %}
        {% else %}
          <tr>
            <td colspan="6" style="text-align: center;">您目前还没有参加任何比赛</td>
          </tr>
        {% endif %}
        </tbody>
      </table>
    </div>
  </div>-->
  <div class="container">
    <h1 class="text-center title" id="portfolio">查看竞赛</h1>
    <p class="lead text-center">这里包含了本平台发布的所有比赛<br>点击标签来查看</p>
    <br>
    <div class="row object-non-visible" data-animation-effect="fadeIn">
      <div class="col-md-12 col-sm-12 col-xs-12">
        <div class="filters text-center">
          <ul class="nav nav-pills">
            <li class="active"><a href="#" data-filter="*">全部</a></li>
            <li><a href="#" data-filter=".join">我参加的</a></li>
            <li><a href="#" data-filter=".online">正在报名</a></li>
            <li><a href="#" data-filter=".coming">即将到来</a></li>
          </ul>
        </div>
        <div class="isotope-container row grid-space-20">
          {% for tournament in tournaments %}
            <div class="col-sm-6 col-md-3 col-xs-6 isotope-item join">
              <div class="image-box">
                <div class="overlay-container">
                  {% if tournament.image.url %}
                    <img src="{{ tournament.image.url }}">
                  {% else %}
                    <img src="/static/images/portfolio-1.jpg">
                  {% endif %}
                  <a class="overlay">
                    <i class="fa fa-search-plus"></i>
                    <span>已参加</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" href="{% url 'tournament-detail-contestant' tournament.id %}">{{ tournament.name }}</a>
              </div>
            </div>
          {% endfor %}
          {% for tournament in tournaments_coming %}
            <div class="col-sm-6 col-md-3 col-xs-6 isotope-item coming">
              <div class="image-box">
                <div class="overlay-container">
                  {% if tournament.image.url %}
                    <img src="{{ tournament.image.url }}">
                  {% else %}
                    <img src="/static/images/portfolio-1.jpg">
                  {% endif %}
                  <a class="overlay">
                    <i class="fa fa-search-plus"></i>
                    <span>正在注册</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" >{{ tournament.name }}</a>
              </div>
            </div>
          {% endfor %}
          {% for tournament in tournaments_online %}
            <div class="col-sm-6 col-md-3 col-xs-6 isotope-item online">
              <div class="image-box">
                <div class="overlay-container">
                  {% if tournament.image.url %}
                    <img src="{{ tournament.image.url }}">
                  {% else %}
                    <img src="/static/images/portfolio-1.jpg">
                  {% endif %}
                  <a class="overlay">
                    <i class="fa fa-search-plus"></i>
                    <span>正在进行</span>
                  </a>
                </div>
                <a class="btn btn-default btn-block" >{{ tournament.name }}</a>
              </div>
            </div>
          {% endfor %}
        </div>
        <a class="pull-right" href="{% url 'tournament-list' %}">查看更多</a>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <script>
    sessionStorage.setItem('userId', '1_u'+{{ request.user.id }});
    sessionStorage.setItem('companyId', '1');
    sessionStorage.setItem('companyName', 'Gleam');
    {#var json = {"nick_name":"{{ request.user.contestant_profile.nick_name }}"};#}
    {#sessionStorage.setItem("data", json);#}
  </script>
  <script type="text/javascript" src="http://vuejs.org/js/vue.min.js"></script>
  <script type="text/javascript" src="http://unpkg.com/iview/dist/iview.min.js"></script>
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://cdn.bootcss.com/socket.io/2.0.3/socket.io.js"></script>
  <script src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://cdn.bootcss.com/html2canvas/0.5.0-beta4/html2canvas.min.js"></script>
  <script src="http://123.206.22.71/media/files/2018/01/03/yogurt-chat-window_EPc6bPG.js"></script>

{% endblock javascripts %}