{% extends "base/base.html" %}

{% block title %} | 个人信息{% endblock title %}

{% block stylesheet %}
  {{ block.super }}
{% endblock stylesheet %}

{% block content %}
  <div class="section clearfix object-non-visible" data-animation-effect="fadeIn">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="row">
            <div class="space" id="userinfo"></div>
            <div class="col-md-3 col-sm-3 col-xs-12">
              <div class="profile_img">
                <div id="crop-avatar">
                  {% if user.contestant_profile.avatar %}
                    <img class="img-responsive avatar-view" src="{{ user.contestant_profile.avatar.image.url }}" height="220" width="220" alt="Avatar">
                  {% else %}
                    <img class="img-responsive avatar-view" src="/static/images/default-img.jpg" height="220" width="220" alt="Avatar">
                  {% endif %}
                </div>
              </div>
              <h2><b>{{ user.contestant_profile.nick_name }}</b>
                <small>
                  <a href="{% url 'profile-edit-contestant' %}"><i class="fa fa-wrench"></i></a>
                </small></h2>
              <h4>{{ user.contestant_profile.email }}</h4>
              {% if user.contestant_profile.gender == 'M' %}
                <div>男</div>
              {% elif user.contestant_profile.gender == 'F' %}
                <div>女</div>
              {% elif user.contestant_profile.gender ==  'O' %}
                <div>正常的性别</div>
              {% endif %}
              <div>所属学校: {{ user.contestant_profile.school }}</div>
              <ul class="social-links">
                <li class="facebook"><a target="_blank"
                                        href="https://www.facebook.com/pages/HtmlCoder/714570988650168"><i
                        class="fa fa-facebook"></i></a></li>
                <li class="twitter"><a target="_blank" href="https://twitter.com/HtmlcoderMe"><i
                        class="fa fa-twitter"></i></a></li>
                <li class="googleplus"><a target="_blank" href="http://plus.google.com"><i
                        class="fa fa-google-plus"></i></a></li>
              </ul>
            </div>
            <div class="col-md-9 col-sm-9 col-xs-12">
              <div class="x_panel">
                <div class="" role="tabpanel" data-example-id="togglable-tabs">
                  <ul id="myTab" class="nav nav-tabs bar_tabs" role="tablist">
                    <li role="presentation" class="active"><a href="#tab_content1" id="profile-tab-1" role="tab" data-toggle="tab" aria-expanded="true">近期动态</a>
                    </li>
                    <li role="presentation" class=""><a href="#tab_content2" role="tab" id="profile-tab-2" data-toggle="tab" aria-expanded="false">个人介绍</a>
                    </li>
                  </ul>
                  <div class="space"></div>
                  <div id="myTabContent" class="tab-content">
                    <div role="tabpanel" class="tab-pane fade active in" id="tab_content1" aria-labelledby="profile-tab-1">
                      <table class="table table-striped table-bordered">
                        <thead>
                        <tr>
                          <th>比赛名称</th>
                          <th>开始时间</th>
                          <th>结束时间</th>
                          <th>比赛主页</th>
                        </tr>
                        </thead>
                        <tbody>
                        {% for t in tournaments_faraway %}
                          <tr>
                            <td>{{t.name}}</td>
                            <td>{{t.register_begin_time}}</td>
                            <td>{{t.overall_end_time}}</td>
                            <td><a href="{% url 'tournament-detail-contestant' t.id %}">{{t.name}}</a></td>
                          </tr>
                        {% endfor %}
                        </tbody>
                      </table>
                    </div>
                    <div role="tabpanel" class="tab-pane fade" id="tab_content2" aria-labelledby="profile-tab-2">
                      <p>{{ user.contestant_profile.introduction }}</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock content %}

{% block javascripts %}
  {{ block.super }}
  <!-- validator -->
  <script>
    $(document).ready(function() {
      $("#profile-form").validate();
    });
  </script>
{% endblock javascripts %}
